{% extends "base.html" %}

{% block content %}
{% load static %}
{% load currency %}
{% load percentage %}
{% load comma %}

<div class="container col-12 col-md-8 col-lg-6 p-5" style="background-color: var(--bs-secondary-bg);">
    <h1 class="mb-4">Your Saved Properties</h1>

    {% for property in saved_properties %}
        {% include "profile/partials/saved-property-card.html" %}

        {% comment %} <div id="property-card-{{property.id}}" class="card mb-3 w-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{% static property.cover_image_url %}" class="img-fluid rounded-start h-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ property.address }}</h5>
                        <h5 class="card-title" style="font-weight:600; font-size:1.5rem">{{ property.price|currency:0 }}</h5>
                        <p class="card-subtitle mb-2" style="font-size:1rem;">
                            Cap: <strong >{{ property.cap_rate|percentage }}</strong>&ensp;|&ensp;
                            bds: <strong>{{ property.bedrooms }}</strong>&ensp;|&ensp;
                            br: <strong>{{ property.bathrooms }}</strong>&ensp;|&ensp;
                            <strong>{{ property.area|comma }} sqft.</strong>
                        </p>
                        <div class="d-flex py-3">
                            <a href="/property/{{property.id}}/" class="btn btn-outline-info border-3 me-2">View Property</a>
                            <a href="#" class="btn love border-3 me-2">Contact Agent</a>
                            <button 
                            class="btn btn-outline-warning border-3"
                            hx-post="{% url 'toggle_saved_profile' property_id=property.id %}"
                            hx-target="#property-card-{{property.id}}"
                            hx-swap="outerHTML"
                            >Unsave</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    {% endfor %}

</div>

{% endblock content %}