<style>
    .toast-container {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 9999;
        padding: 20px;
    }

    @media(max-width: 768px) {
        .toast-container {
            bottom: 0px!important;
            max-height: 200px;
            overflow-y: hidden;
        }
        .toast-body {
            display: none;
        }
    }

    .fade-in {
        opacity: 0;
        transform: scale(0);
        animation: fadeIn 10s!important; 
    }
    @keyframes fadeIn {
        0% { opacity: 0; transform: scale(1);}
        10% { opacity: 1; }
        30% { opacity: 1; }
        70% { opacity: 0; transform: scale(1); }
        100% { opacity: 0; transform: scale(0); }
    }

    .fade-out {
        animation: fadeOut 1s!important;
        animation-delay:5s;
    }
    @keyframes fadeOut {
        0% { opacity: 1;  }
        100% { opacity: 0;  }
    }

</style>

<div id='toast-container' class="toast-container">
  <!-- <button id="clear-toast-button"></button> -->
</div>

<!-- <script>
    function clearToast() {
        let toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(toast => {
            toast.remove();
            clearToastButton.style.display = 'none';
        });
    }
    
    const clearToastButton = document.getElementById('clear-toast-button')
    clearToastButton.addEventListener('click', clearToast);

</script> -->