<style>
    .toast-container {
        position: fixed;
        top: 50px;
        right: 0;
        z-index: 9999;
        padding: 20px;
    }
</style>

<div id='toast-container' class="toast-container">
  <!-- <button id="clear-toast-button"></button> -->
</div>

<!-- <script>
    function clearToast() {
        let toastElements = document.querySelectorAll('.toast');
        toastElements.forEach(toast => {
            toast.remove();
            clearToastButton.style.display = 'none';
        });
    }
    
    const clearToastButton = document.getElementById('clear-toast-button')
    clearToastButton.addEventListener('click', clearToast);

</script> -->