{% extends "base.html" %}
{% block content %}

<div class="container pt-5">
    <div class="col-md-6 offset-md-3 text-center justify-content-center">
        <h1>Welcome!</h1>
        <p>Thank you for choosing NiceHouseBro as your real estate platform.</p>
        <p>Get ready to explore a world of opportunities and connect with potential buyers and sellers.</p>
        <a href="/agent/register/" class="btn love-outline" style="border:3px solid var(--love); font-weight:bold;">Get Started</a>
    </div>
</div>

{% endblock content %}