{% load currency %}
{% load percentage %}
{% load comma %}
{% load crispy_forms_tags %}

<div id="cap-rate-formula-table" class="mb-4">
    <table class='table table-sm w-100'>
        <tbody>
            <tr>
                <td>Gross Income</td>
                <td class="text-muted">Annualized Rent</td>
                <td>{{ annual_gross_income|currency:0 }}</td>
            </tr>

            <tr>
                <td>Annual Operating Expenses</td>
                <td>
                    <div class="w-100 justify-content-start align-items-center d-flex">
                        {% if user.is_authenticated %}
                        <button 
                        class="btn btn-sm love mt-1" 
                        type="button"
                        data-bs-toggle="collapse" 
                        data-bs-target="#modalFormContainer" 
                        aria-expanded="false" 
                        aria-controls="modalFormContainer"
                        >Modify Formula</button>
                        {% else %}
                        <button class="btn btn-sm love" data-bs-toggle="modal" data-bs-target="#registerModal">Modify Formula</button>
                        {% endif %} 
                    </div>
                </td>
                <td>{{ annual_operating_expenses|currency:0 }}</td>
            </tr>

            <tr>
                <td>Net Operating Income (NOI)</td>
                <td class="text-muted">Gross Income - Operating Exp.</td>
                <td>{{ net_operating_income|currency:0 }}</td>
            </tr>

            <tr>
                <td>Property Value</td>
                <td class="text-muted">Value at purchase</td>
                <td>{{ property_value|currency:0 }}</td>
            </tr>

            <tr>
                <td style="background-color: var(--bs-secondary-bg);">Estimated Cap rate</td>
                <td class="text-muted" style="background-color: var(--bs-secondary-bg);"> NOI &#247; Property Value</td>
                <td style="background-color: var(--bs-secondary-bg);">{{ cap_rate|percentage }}</td>
            </tr>
        </tbody>
    </table>

</div>

{% if form %}
    {% include 'components/partials/cap-rate-form.html' %}
{% endif %}