{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<div class='container col-sm-4 col-10 text-center pt-3'>
    {% if user.is_authenticated %}
    <p class='text-light'> You are already logged in </p>
    {% else %}

    <h1 class='mb-3'>Login</h1>

    <form method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        {% if form_error %}
            <p class='text-danger'>{{ form_error }}</p>
        {% endif %}
        <input type='submit' class='btn love' value='Login'>
    </form>
    {% endif %}
</div>

{% endblock content %}