{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    .form-check {
        display: flex;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 0 3rem;
        margin: 1rem 0;
        box-shadow: 0 0 10px lightgray;
        align-items: center;
    }

    .form-check label {
        width: 100%;
        padding: 1rem;
    }

    .form-check:hover {
        box-shadow: 0 0 10px var(--love);
    }
</style>

<div class="container d-flex flex-column align-items-center mt-5" >
    <form method="POST" class="form-group col-sm-10 px-5 py-4 shadow" style="border: 1px solid var(--bs-secondary-bg); border-radius: 10px;">
        <p class="text-center text-muted mb-3">{{ progress }}</p>
        <h1 class="text-center mb-3">{{ title }}</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn love-outline mt-3">{{ button_text }}</button>
        </div>
        
        {% if title == 'Create an Account' %}
            <p class="mt-4 text-center">Already have an account? <a href="{% url 'login' %}" style="color:var(--love);">Login</a></p>
        {% else %}
            <a href="{% if step == 3%}/{% else %}/account/register/step-3/{% endif %}" style="color:var(--love); text-decoration:none;">
                <p style="text-align:right!important; margin-top: 1rem;">Skip ></p>
            </a>
        {% endif %}

    </form>
</div>
    
<script>

    function initialize() {
      new google.maps.places.Autocomplete(locationInupt);
    }
    
    const locationInupt = document.getElementById('id_location');
    if (locationInupt) {
        locationInupt.addEventListener('keypress', initialize);
    }
  
</script>

{% endblock %}