{% load crispy_forms_tags %}

<div>
    
    <form 
    id='comment-form'
    method='post'
    hx-post="{% url 'create_comment' property_id=property.propertyId %}"
    hx-target="#comment-list"
    hx-swap="afterbegin"
    hx-on::after-request="clearForm()"
    >
        {% csrf_token %}
        {{ form|crispy }}
        <input id="comment-button" type='submit' class='btn btn-sm love border-2'  value='Comment'>
    </form>
    
    <div id="comment-list" class="container mt-4 px-2 pt-2 pb-1 rounded" style="background-color:var(--bs-secondary-bg);">
        {% if not comment_list %}
            <h5 id="no-comments">No comments yet.</h5>
        {% else %}
            {% for comment in comment_list %}
                {% include "property/partials/comment.html" %}
            {% endfor %}
        {% endif %}
    </div>


</div>

<script>

    function clearForm() {
        form = document.getElementById('comment-form');
        form.reset();
        const noComments = document.getElementById('no-comments');
        if (noComments != null) {
            noComments.remove();
        }
    }

</script>