{% load time_delta %}

<style>
    .profile-badge {
        width:1.75rem; 
        height:1.75rem; 
        background:var(--love); 
        border-radius:100%; 
        margin-right: 8px; 
        text-align:center;
        color:white;
    }

    .comment-action {
        margin-left: 1rem;
        color: var(--bs-secondary-color);
        cursor: pointer;
        font-size: .8rem;
        text-decoration: none;
    }

    .comment-card:hover {
        background-color: var(--bs-secondary-bg);
    }
</style>

<div id="comment-{{ comment.id }}" class="card my-2 border-0 border-bottom ">
    <div class="card-body pt-3 pb-2 comment-card">
        <div class='d-flex align-items-start'>
            <span class="profile-badge">
                <p>{{ comment.profile.user.username.0 }}</p>
            </span>
            <p style="font-size: 1rem; color:var(--bs-secondary-color)">{{ comment.profile.user.username }}</p>
            <p class="card-text"><small class="text-muted">&ensp;&#8226;&ensp;{{ comment.timestamp|time_delta }}</small></p>
        </div>
        <p class="card-text my-1">{{ comment.text }}</p>
        
        <div id="commment-actions" class="d-flex justify-content-end">
            <a class="comment-action">&#8226;&#8226;&#8226;</a>
            <a class="comment-action">
                {% comment %} {% include "icons/thumbs-up.html" %} {% endcomment %}
                Like
            </a>
            <a class="comment-action">Reply</a>
            {% if request.user.id == comment.profile.user.id %}
                <a 
                class="comment-action"
                hx-get="{% url 'edit_comment' comment_id=comment.id %}"
                hx-target="#comment-{{ comment.id }}"
                hx-swap="outerHTML"
                >Edit</a>
                <a 
                class="comment-action" 
                hx-delete="{% url 'delete_comment' comment_id=comment.id %}"
                hx-target="#comment-{{ comment.id }}"
                hx-swap="delete"
                hx-confirm="Are you sure you want to delete this comment?"
                >Delete</a>
            {% endif %}
        </div>
    </div>

    <!-- Replies -->
    {% for reply in comment.reply_set.all|slice:"5" %}
    <div class="card-body ms-3 my-0 pt-2 pb-1 comment-card" style="border-left: 2px solid lightgray;">
        <div class='d-flex align-items-start'>
            <span class="profile-badge">
                <p>{{ reply.profile.user.username.0 }}</p>
            </span>
            <p style="font-size: 1rem; color:var(--bs-secondary-color)">{{ reply.profile.user.username }}</p>
            <p class="card-text"><small class="text-muted">&ensp;&#8226;&ensp;{{ reply.timestamp|time_delta }}</small></p>
        </div>
        <p class="card-text my-1">{{ reply.text }}</p>

        <div id="reply-actions" class="d-flex justify-content-end">
            <a class="comment-action">&#8226;&#8226;&#8226;</a>
            <a class="comment-action">
                {% comment %} {% include "icons/thumbs-up.html" %} {% endcomment %}
                Like
            </a>
            <a class="comment-action">Reply</a>
            {% if request.user.id == comment.profile.user.id %}
                <a 
                class="comment-action"
                {% comment %} hx-get="{% url 'edit_comment' comment_id=comment.id %}"
                hx-target="#comment-{{ comment.id }}"
                hx-swap="outerHTML" {% endcomment %}
                >Edit</a>
                <a 
                class="comment-action" 
                {% comment %} hx-delete="{% url 'delete_comment' comment_id=comment.id %}"
                hx-target="#comment-{{ comment.id }}"
                hx-swap="delete"
                hx-confirm="Are you sure you want to delete this comment?" {% endcomment %}
                >Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {% if comment.reply_set.all.count > 5 %}
    <a class="card-body ms-3 my-0 pt-2 pb-1 text-center" style="border-left: 2px solid lightgray; background: var(--bs-secondary-bg); cursor:pointer;">
        View more replies
    </a>
    {% endif %}

</div>