
{% if property.coordinates %}

    <div id="map" style="width: 100%; height:400px;"></div>

    {{ property|json_script:"property" }}

    <script>
        // Get the map data from the django context
        var map = L.map('map').fitWorld();
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        let property = JSON.parse(document.getElementById('property').textContent);
        if (property) { // if coordinates are provided, set the map view to the coordinates
            map.setView([property.coordinates.latitude, property.coordinates.longitude], 16);
            var marker = L.marker([property.coordinates.latitude, property.coordinates.longitude]).addTo(map);
        } 

    </script> 

{% endif %}
