<div id="explore-controls" class="d-flex justify-content-center py-3 position-absolute bottom-0">
    <button 
    id="back-button" 
    class="btn mx-4 border-0"
    onclick="handlePrevCard()"
    style="color: var(--bs-secondary-color);"
    >
        {% include "icons/arrow-left.html" with size=35 %}
    </button>

    <button 
    id="hide-button" 
    class="btn mx-2 border-0"
    onclick="handleHideCard()"
    >
        {% include "icons/x.html" with size=35 fill="var(--hidden)" %}
    </button>
    

    {% if request.user.is_authenticated %}
        <button 
        id="save-button" 
        class="btn mx-2 border-0"
        hx-post="{% url 'toggle_saved_explore' property_id=property_obj.propertyId %}"
        hx-vals='{"address": "{{ property_obj.address.address }}", "image": "{{ image }}"}'
        hx-swap="outerHTML" 
        onclick="handleSaveCard()"
        >
        {% if is_saved %}
            {% include "icons/heart-fill.html" with size=35 fill="var(--love)" %}
        {% else %}
            {% include "icons/heart.html" with size=35 fill="var(--love)" %}
        {% endif %}
        </button>
    {% else %}
        <button 
        id="save-button" 
        class="btn mx-2 border-0"
        onclick="promptLogin()"
        > {% include "icons/heart.html" with size=35 fill="var(--love)" %}
        </button>
    {% endif %}

    <button 
    id="next-button" 
    class="btn mx-4 border-0"
    onclick="handleNextCard()"
    style="color: var(--bs-secondary-color);"
    >
        {% include "icons/arrow-right.html" with size=35 %}
    </button>
</div>


{% load static %}
<img 
id="property-card-image"
src="{% if image %}{{ image }}{% else %}{% static 'media/awesome-house.jpg' %}{% endif %}" 
class="img-fluid card-img-top" 
alt="..." 
style="border-top-left-radius:10px;border-top-right-radius:10px;"
hx-swap-oob="true"
>