{% load static %}
{% load currency %}
{% load percentage %}
{% load comma %}
{% load remove_slashes %}
{% load index %}

<div 
id='{{ property.propertyId }}' 
class="card property-card"
data-index="{{ forloop.counter0 }}" 
data-status="{% if forloop.counter0 == 0 %}active{% else %}unknown{% endif %}"
data-imgDidSet="{% if forloop.counter0 <= 1 or forloop.counter == property_list|length %}true{% else %}false{% endif %}"
>
    <a 
    href="{% url 'property_detail' address=property.address.address|remove_slashes %}" 
    style="position: relative;">
        <img 
        id="property-card-image-{{ property.propertyId }}"
        src="{{ image_arr|index:forloop.counter0 }}" 
        class="img-fluid card-img-top" 
        alt="..." 
        style="border-top-left-radius:10px;border-top-right-radius:10px;"
        >
        <span class="badge text-white fs-6" style="position: absolute; top: 10px; left: 10px; background-color:var(--love)">Great Deal</span>
        <div class="card-body text-wrap" style="color:var(--bs-body-color);">
            <h5 class="card-title" style="font-weight:600; font-size:1.5rem">{{ property.estimatedValue|currency:0 }}</h5>
            <p class="card-subtitle mb-2" style="font-size:.8rem!important;">
                Cap: <strong >{{ 0.1|percentage }}</strong>&ensp;|&ensp;
                bds: <strong>{{ property.bedrooms }}</strong>&ensp;|&ensp;
                br: <strong>{{ property.bathrooms }}</strong>&ensp;|&ensp;
                <strong>{{ property.squareFeet|comma }} sqft.</strong>
            </p>
            <h6 id="property-address-{{ property.propertyId }}" class="card-subtitle mb-2" style="font-size:.8rem;">{{ property.address.address }}</h6>
            {% comment %} <p class="card-text text-muted" style="font-size:.8rem;">This is a short description of the property.</p>   {% endcomment %}
        </div>
    </a>
</div>