{% load time_delta %}

<div id="reply-{{reply.id}}" class="card-body ms-4 my-0 pt-2 pb-1" style="border-left: 2px solid var(--bs-secondary-bg);">
    <div class='d-flex align-items-start'>
        <span class="profile-badge">
            <p>{{ reply.profile.user.username.0 }}</p>
        </span>
        <p style="font-size: 1rem; color:var(--bs-secondary-color)">{{ reply.profile.user.username }}</p>
        <p class="card-text"><small class="text-muted">&ensp;&#8226;&ensp;{{ reply.timestamp|time_delta }}</small></p>
    </div>
    <p class="card-text my-1 ms-1">{{ reply.text }}</p>

    <div id="commment-actions">
        <a 
        class="comment-action d-flex align-items-center"
        hx-get="{% url 'toggle_reply_like' reply_id=reply.id %}"
        hx-swap="outerHTML"
        >
        <p id="like-count-{{reply.id}}" class="m-0">{{ reply.replylike_set.count }}&ensp;&#8226;&ensp;</p>
        <span class="me-2 comment-action-text">Like</span>
        {% if reply.id in reply_like_list %}
            {% include "icons/heart-fill.html" with size=15 %}
        {% else %}
            {% include "icons/heart.html" with size=15 %}
        {% endif %}
        </a>

        <a 
        class="comment-action"
        onclick="unhideReplyForm('{{ comment.id }}', '@{{ reply.profile.user.username }}')"
        >
        <span class="me-2 comment-action-text">Reply</span>
        {% include "icons/reply.html" %}
        </a>

        {% if request.user.id == reply.profile.user.id %}

        <a 
        class="comment-action"
        hx-get="{% url 'edit_reply' reply_id=reply.id %}"
        hx-target="#reply-{{reply.id}}"
        hx-swap="outerHTML" 
        >
        <span class="me-2 comment-action-text">Edit</span>
        {% include "icons/pencil.html" %}
        </a>

        <a 
        class="comment-action" 
        hx-delete="{% url 'delete_reply' reply_id=reply.id %}"
        hx-target="#reply-{{ reply.id }}"
        hx-swap="delete"
        hx-confirm="Are you sure you want to delete this comment?"
        >
        <span class="me-2 comment-action-text">Delete</span>
        {% include "icons/trashcan.html" %}
        </a>

        {% endif %}

        <a class="comment-action">&#8226;&#8226;&#8226;</a>
    </div>
</div>
