{% load crispy_forms_tags %}

<div id="reply-{{ reply.id }}" class="card my-1 ms-4 border-0">
    <div class="card-body">
        <form 
        id='reply-form'
        method='post'
        hx-post="{% url 'create_reply' comment_id=comment.id %}"
        hx-target="#reply-{{ reply.id }}"
        hx-swap="outerHTML"
        >
            {% csrf_token %}
            {{ form|crispy }}
            <input id="comment-button" type='submit' class='btn btn-sm love border-2' value='Reply'>
            <input id="comment-button" type='button' class='btn btn-sm love border-2' value='Cancel' onclick="Cancel('reply-{{ reply.id }}')">
        </form>
    </div>
</div>

<script>
    function Cancel(replyFromEl) {
        document.getElementById(replyFromEl).remove();
    }
</script>