{% load static %}
{% load currency %}
{% load percentage %}
{% load comma %}
{% load index %}
{% load remove_slashes %}

<!-- horizontal scrolling conatiner containing cards. Cards include a full width image and text below and link to another
page containing additional information about the property. on desktop 3 and a half cards are visible, on mobile only 1 card is visible
initially -->

<style>
    .shadow {
        box-shadow: 0 0 4px 2px var(--bs-dark-bg-subtle);
        transform: translateY(0%);
        transition: transform .2s ease;
    }
    @media (min-width: 1000px) {
        .shadow:hover {
            transform: translateY(-5%);
        }
    }
    
</style>

<div class="container-fluid py-4" >
    <div class="col-12 py-2">
        <h2 class="text-center fs-5">Featured Properties in {% if user.profile.last_search %}{{ user.profile.last_search }}{% else %}Pensacola, FL{% endif %}</h2>
    </div>
    <div class="col-12" style="display:flex; justify-content: center;">
        <div class='col-sm-8 py-3' style="display: flex; flex-direction: row; overflow-x: scroll; white-space: nowrap; justify-content: flex-start;" >
            {% for property in property_list %}
            {% comment %} <a href="{% url "property_detail" address=property.address.address|remove_slashes %}" > {% endcomment %}
                <div class="card mx-2 shadow" style="display: inline-block; min-width: 18rem; cursor:pointer;">
                    <img src="{{ card_img_arr|index:forloop.counter0 }}" class="card-img-top" alt="...">
                    <div class="card-body text-wrap">
                        <h5 class="card-title" style='font-weight:600;'>{{ property.estimatedValue|currency:0 }}</h5>
                        <p class='card-subtitle mb-2' style="font-size:.7rem;">
                            {% comment %} Cap: <strong >{{ property.cap_rate|percentage }}</strong>&ensp;|&ensp; {% endcomment %}
                            bds: <strong>{{ property.bedrooms }}</strong>&ensp;|&ensp;
                            br: <strong>{{ property.bathrooms }}</strong>&ensp;|&ensp;
                            <strong>{{ property.squareFeet }} sqft.</strong>
                        </p>
                        <h6 class="card-subtitle mb-2 text-muted" style="font-size:.7rem;">{{ property.address.address }}</h6>
                        {% comment %} <p class="card-text text-muted" style='font-size:.5rem;'>This is a short description of the property.</p>   {% endcomment %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div> 