{% load crispy_forms_tags %}

<style>
    #comment-section {
        font-size: 1rem;
    }

    @media (max-width: 576px) {
        #comment-section {
            font-size: .9rem;
        }
        #comment-section input {
            font-size: .9rem;
        }
    }

    .user-tag {
        color:rgb(4, 184, 255);
        cursor:pointer;
    }

    .failed-user-tag {
        color:rgb(158, 158, 158);
        cursor:pointer;
    }

</style> 

<div 
id="comment-section" 
hx-get="{% url 'get_comments' property_id=property.propertyId %}"
hx-swap="outerHTML"
hx-trigger="reload-comments from:body"
>
    
    <form 
    id='comment-form'
    method='post'
    hx-post="{% url 'create_comment' property_id=property.propertyId %}"
    hx-target="#comment-list"
    hx-swap="afterbegin"
    hx-on::after-request="clearForm()"
    >
        {% csrf_token %}
        {{ form|crispy }}

        {% if not user.is_authenticated %}
        <button type="button" class="btn btn-sm love border-2" data-bs-toggle="modal" data-bs-target="#registerModal">Comment</button>
        {% else %}
        <input id="comment-button" type='submit' class='btn btn-sm love border-2' value='Comment'>
        {% endif %}
    </form>
    
    <div id="comment-list" class="container mt-4 px-2 pt-2 pb-1 rounded" style="background-color:var(--bs-secondary-bg);">
        {% if not comment_list %}
            <p id="no-comments" style="margin: 1rem!important;">No comments yet.</p>
        {% else %}
            {% for comment in comment_list %}
                {% if not comment.profile.user.id in blocked_user_list %}
                    {% include "comment/comment.html" %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

</div>

<script>

    async function formatTextElTags(textEl) {
        let text = textEl.innerHTML;
        if (text.includes('@')) {
            await htmx.ajax('GET', '/comment/format-user-tags/', {target: `#${textEl.id}`, swap: 'innerHTML', values: { text: text }}) 
        }           
    }

    async function formatUserTags(){
        let comments = document.querySelectorAll('.comment');
        for (let i = 0; i < comments.length; i++) {
            let commentEl = comments[i];
            let textEl = commentEl.querySelector('.card-text');
            await formatTextElTags(textEl);
        };
    }
    formatUserTags();

    function clearForm() {
        form = document.getElementById('comment-form');
        form.reset();
        const noComments = document.getElementById('no-comments');
        if (noComments != null) {
            noComments.remove();
        }
        formatUserTags();
    }



</script>