{% load crispy_forms_tags %}

<div id="comment-{{ comment.id }}" class="card my-1 border-0 border-bottom">
    <div class="card-body">
        <form 
        id='edit-comment-form'
        method='post'
        hx-post="{% url 'update_comment' comment_id=comment.id %}"
        hx-target="#comment-{{ comment.id }}"
        hx-swap="outerHTML"
        >
            {% csrf_token %}
            {{ form|crispy }}
            <input id="comment-button" type='submit' class='btn btn-sm love border-2' value='Update'>
        </form>
    </div>
</div>