{% load crispy_forms_tags %}

<div id="reply-text-{{ reply.id }}" class="card my-1 ms-4 border-0">
    <div class="card-body">
        <form 
        id='reply-form'
        method='post'
        hx-target="#reply-text-{{ reply.id }}"
        hx-post="{% url 'update_reply' reply_id=reply.id %}"
        hx-swap="outerHTML"
        >
            {% csrf_token %}
            {{ form|crispy }}
            <input id="comment-button" type='submit' class='btn btn-sm love border-2' value="Update">
        </form>
    </div>
</div>
