{% extends "base.html" %}

{% block content %}

<style>

    #explore-container {
        height:100vh;
        overflow: hidden;
    }

    #property-card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 8px 4px;
        position: relative;
        /* width: 100%; */
        height: 500px;
        overflow: hidden;
    }

    #property-card-container a {
        text-decoration: none;
        color: var(--foreground);
    }

    .property-card {
        position: absolute;
        top: 8px;
        border-radius: 15px;
        transform: translateX(0) rotate(0) scale(1);
        transition: transform 400ms ease, box-shadow 300ms ease, border 300ms ease;
        width: 95%;
        box-shadow: 0 0 4px 2px var(--bs-dark-bg-subtle);
    }

    .property-card[data-status="unknown"] {
        transform: translateX(50%) rotate(30deg) scale(0.001);
        transition: none;
    }

    .property-card[data-status="active"] {
        transition-delay: 300ms;
    }

    .property-card[data-status="right"] {
        transform: translateX(50%) rotate(30deg) scale(0.001);
    }

    .property-card[data-status="left"] {
        transform: translateX(-50%) rotate(-30deg) scale(0.001);
    }

    .property-card[data-status="becoming-active-from-right"] {
        transform: translateX(50%) rotate(30deg) scale(0.001);
        transition: none;
    }

    .property-card[data-status="becoming-active-from-left"] {
        transform: translateX(-50%) rotate(-30deg) scale(0.001);
        transition: none;
    }

    .saved {
        border: 3px solid var(--love);
        box-shadow: 0 0 4px 2px var(--love)
    }

    .property-card[data-status="hidden"] {
        transform: translateY(50%) scale(0.001);
    }

    .bounce2 {
        animation: bounce2 1s ease;
    }
    @keyframes bounce2 {
        0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
        40% {transform: translateY(-30px);}
        60% {transform: translateY(-10px);}
    }

    #map-container {
        position: absolute;
        z-index: 99;
        transition: none;
        transform: translateX(100%);
    }
    #map-container[data-visible="true"] {
        transform: translateX(0%);
        transition: transform 300ms ease;
    }
    #map-container[data-visible="false"] {
        transform: translateX(100%);
        transition: transform 300ms ease;
    }

    @media only screen and (min-width: 600px) {
        #property-card-container {
            height: 650px;
        }
    }
    @media only screen and (min-width: 1000px) {
        #explore-container {
            height: 95vh;
        }
        #property-card-container {
            height: 700px;
        }
        #map-container {
            position: relative;
            transform: translateX(0%)!important;
            display: block;
        }
        #map-button {
            display: none; 
        }
    }
</style>
    
<div id='explore-container' class="d-flex flex-column align-items-center position-relative" >

    <div id='current-search' class="d-flex w-100 pt-4 pb-3 px-3 m-0 mb-1" style="background-color: var(--bs-dark-bg-subtle)">
        <div class="d-flex col-12 col-lg-4">
            <input id="location-search" type="text" class="form-control me-2" style="border:3px solid var(--bs-secondary-color);" placeholder="{{ search_str }}" >
            <button id="search-button" class="btn love border-3 me-2">Search</button>
            <button class="btn btn-outline-info border-3" onclick="showFilterPopover()">
                {% include "icons/filter.html" %}
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center w-100 h-100">

        <div id='swiping-component' class="col-12 col-md-8 col-lg-4 overflow-hidden p-1 px-2">

            <div class="d-flex align-items-center justify-content-between px-3 pt-1 pb-2">
                <h3 class="mb-0">Explore</h3>
                <button 
                id="map-button" 
                class="btn border-0 p-0 m-0" 
                onclick="toggleMapView()"
                >
                    {% include "icons/map-icon.html" %}
                </button>
            </div>

            <!-- Swiping Property List -->
            <div id='property-card-container'>

                {% if not property_list %}

                    {% include "property/partials/end-of-list.html" %}

                {% else %}

                    {% for property in property_list %}

                        {% include "property/partials/property-card.html" %}

                    {% endfor %}
                    
                {% endif %}

                 <!-- Controls -->
                {% if property_obj %}
                <div id="explore-controls" class="d-flex justify-content-center py-3 position-absolute bottom-0">
                    <button 
                    id="back-button" 
                    class="btn mx-4 border-0"
                    onclick="handlePrevCard()"
                    style="color: var(--bs-secondary-color);"
                    >
                        {% include "icons/arrow-left.html" with size=35 %}
                    </button>
                
                    <button 
                    id="hide-button" 
                    class="btn mx-2 border-0"
                    onclick="handleHideCard()"
                    >
                        {% include "icons/x.html" with size=35 fill="var(--hidden)" %}
                    </button>
                    
                
                    {% if request.user.is_authenticated %}
                        <button 
                        id="save-button" 
                        class="btn mx-2 border-0"
                        hx-post="{% url 'toggle_saved_explore' property_id=property_obj.propertyId %}"
                        hx-vals='{"address": "{{ property_obj.address.address }}", "image": "{{ image }}"}'
                        hx-swap="outerHTML" 
                        onclick="handleSaveCard()"
                        >
                        {% if is_saved %}
                            {% include "icons/heart-fill.html" with size=35 fill="var(--love)" %}
                        {% else %}
                            {% include "icons/heart.html" with size=35 fill="var(--love)" %}
                        {% endif %}
                        </button>
                    {% else %}
                        <button 
                        id="save-button" 
                        class="btn mx-2 border-0"
                        onclick="promptLogin()"
                        > {% include "icons/heart.html" with size=35 fill="var(--love)" %}
                        </button>
                    {% endif %}
                
                    <button 
                    id="next-button" 
                    class="btn mx-4 border-0"
                    onclick="handleNextCard()"
                    style="color: var(--bs-secondary-color);"
                    >
                        {% include "icons/arrow-right.html" with size=35 %}
                    </button>
                </div>
                {% endif %}

            </div>

        </div>

        <div id='map-container' class="col-12 col-lg-8 p-1 h-100" style="background-color: var(--bs-body-bg);" data-visible="false">
            <div id="map-header" class="d-flex align-items-center justify-content-between px-3 pt-1 pb-2">
                <h3 class="mb-0">Map</h3>
                <button 
                id="map-button" 
                class="btn border-0 p-0 m-0" 
                onclick="toggleMapView()"
                >
                    {% include "icons/arrows.html" %}
                </button>
            </div>
            
            {% include "components/explore-map.html" %}
        
        </div>
    
    </div>

</div>

{% include "property/explore-filter.html" %}

{% include "components/register-modal.html" %}

<script>

    let activeIndex = 0;
    const cards = document.getElementsByClassName("property-card");

    const handleNextCard = () => {
        const currentCard = document.querySelector(`[data-index="${activeIndex}"]`);
        let nextIndex = activeIndex + 1 <= cards.length - 1 ? activeIndex + 1 : 0;
        const nextCard = document.querySelector(`[data-index="${nextIndex}"]`);
        const nextCardAddress = document.getElementById(`property-address-${nextCard.id}`).innerText;
        currentCard.dataset.status = "left";
        nextCard.dataset.status = "becoming-active-from-right";
        setTimeout(() => {
            nextCard.dataset.status = "active";
            activeIndex = nextIndex;
        }, 100);  
        htmx.ajax('GET', `/property/get-explore-controls/${nextCard.id}/`, { target:'#explore-controls', swap:'outerHTML', values: { address: nextCardAddress}  })
    }

    const handlePrevCard = () => {
        const currentCard = document.querySelector(`[data-index="${activeIndex}"]`);
        let nextIndex = activeIndex - 1 >= 0 ? activeIndex - 1 : cards.length - 1;
        const nextCard = document.querySelector(`[data-index="${nextIndex}"]`);
        console.log(nextCard.id)
        const nextCardAddress = document.getElementById(`property-address-${nextCard.id}`).innerText;
        currentCard.dataset.status = "right";
        nextCard.dataset.status = "becoming-active-from-left";
        setTimeout(() => {
            nextCard.dataset.status = "active";
            activeIndex = nextIndex;
        }, 100);  
        htmx.ajax('GET', `/property/get-explore-controls/${nextCard.id}/`, { target:'#explore-controls', swap:'outerHTML', values: `{"address": "${nextCardAddress}"}` })
    }

    const handleSaveCard = () => {
        const currentCard = document.querySelector(`[data-index="${activeIndex}"]`);
        currentCard.classList.toggle("saved")
        currentCard.classList.toggle("bounce2")
    }

    const handleHideCard = async () => {
        // get current card
        const currentCard = document.querySelector(`[data-index="${activeIndex}"]`);
        // set status to hidden -> hidden css transition
        currentCard.dataset.status = "hidden";
        // remove card from DOM following transition
        await new Promise(resolve => setTimeout(resolve, 300));
        currentCard.remove();
        // update index of remaining cards
        for (let i = 0; i < cards.length; i++) {
            cards[i].dataset.index = i;
        } 
        // if no cards left, retrieve new cards
        if (cards.length === 0) {
            console.log('retrieve new cards')
            // htmx.ajax('GET', `/property/get-explore-controls/${nextCard.id}/`, {target:'#explore-controls', swap:'outerHTML'})
            return
        }
        // increment index
        let nextIndex = activeIndex <= cards.length - 1 ? activeIndex : 0;
        // get and display next card
        const nextCard = document.querySelector(`[data-index="${nextIndex}"]`);
        nextCard.dataset.status = "becoming-active-from-right";
        setTimeout(() => {
            nextCard.dataset.status = "active";
            activeIndex = nextIndex;
        }, 100);   
        // update explore controls
        htmx.ajax('GET', `/property/get-explore-controls/${nextCard.id}/`, {target:'#explore-controls', swap:'outerHTML'})
    }

    function showFilterPopover() {
        const filterPopover = document.getElementById("explore-filter-popover");
        filterPopover.style.display = "flex";
        setTimeout(() => {
            filterPopover.classList.toggle("popover-hidden");
        }, 10);  
    }

    function toggleMapView() {
        const mapContainer = document.getElementById("map-container");
        // const swipingComponent = document.getElementById("swiping-component");
        mapContainer.dataset.visible = mapContainer.dataset.visible === "false" ? "true" : "false";
        // swipingComponent.style.display = swipingComponent.style.display === "none" ? "block" : "none";
    }

    function promptLogin() {
        document.getElementById("register-modal").style.display = "flex";
    }

    function submitSearch(event) {
        event.preventDefault();
        const search = document.getElementById('location-search').value;
        if (search === '') {
          return;
        }
        window.location.replace(`/explore/search=${search}`)
      }
    
      const searchButton = document.getElementById('search-button');
      searchButton.addEventListener("click", submitSearch, false);
    
      function initialize() {
        new google.maps.places.Autocomplete(searchInput);
      }
      const searchInput = document.getElementById('location-search');
      searchInput.addEventListener('keypress', initialize);

</script>

{% endblock content %}