{% extends 'base.html' %}

{% block content %}

<style>
  #search-buttons-sm {
    display: none!important;
  }
  
  #search-buttons-lg {
    display: flex!important;
  }

  @media (max-width: 1000px) {
    #search-buttons-sm {
      display: flex!important;
    }
    #search-buttons-lg {
      display: none!important;
    }
  }
</style>

<div class="bg-dark px-4 py-4 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Find your next investment property.</h1>
      <div class="col-sm-6 col-lg-4 mx-auto flex-wrap">
        <p class="fs-5 mb-4 text-secondary w-100">Start Searching</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form class="d-flex w-100 justify-content-center" role="search" onsubmit="submitSearch()">
   
            <input id="location-search" name='location-search' class="form-control border-3 border-white mx-1" type="search" placeholder="Enter an address, city, state, or zip." aria-label="Search">

            <div id="search-buttons-lg" class="d-flex">
              <button id="search-button-lg" class="btn btn-outline-info border-3 mx-1" style="font-weight:bold;">Search</button>
              <button 
              id="locate-button"
              class="btn btn-outline-info border-3 mx-1" 
              style="font-weight:bold;" 
              >
                {% comment %} Use my location {% endcomment %}
                {% include "icons/location.html" %}
              </button>
            </div>

          </form>    

        </div>

        <div id="search-buttons-sm" class="d-flex w-100 justify-content-between mt-2 p-1">
          <button id="search-button-sm" class="btn btn-outline-info border-3 w-75" style="font-weight:bold;">Search</button>
          <button 
          id="locate-button"
          class="btn btn-outline-info border-3" 
          style="font-weight:bold;" 
          >
            {% comment %} Use my location {% endcomment %}
            {% include "icons/location.html" %}
          </button>
        </div>
          
        
      </div>
    </div>
</div>

{% include 'property/partials/scrolling-card-list.html' %}


<script>

  async function getLocation() {

    const getCoords = async () => {
      const pos = await new Promise((resolve, reject) => {
        navigator.geolocation.getCurrentPosition(resolve, reject);
      });
      await htmx.ajax('GET', `/accounts/locate/`, { swap: "none", values: { lat: pos.coords.latitude, long: pos.coords.longitude } })
      return true;
    };

    const coords = await getCoords();
    console.log("Location has been set.")
    window.location.replace('/explore/')
  }

  function submitSearch(event) {
    event.preventDefault();
    console.log('search')
    const search = document.querySelector('input[name="location-search"]').value;
    window.location.replace(`/explore/search=${search}`)
  }

  const searchButtonLg = document.getElementById('search-button-lg');
  searchButtonLg.addEventListener("click", submitSearch, false);
  const searchButtonSm = document.getElementById('search-button-sm');
  searchButtonSm.addEventListener("click", submitSearch, false);

  function initialize() {
    // var input = document.getElementById('location-search');
    new google.maps.places.Autocomplete(searchInput);
  }

  const searchInput = document.getElementById('location-search');
  searchInput.addEventListener('keypress', initialize);

</script>

{% endblock content %}