{% extends 'base.html' %}

{% load static %}
{% load currency %}
{% load percentage %}
{% load comma %}

{% block content %}

<style>
    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }

    @media (min-width: 768px) {
        .carousel-item img {
            height: 500px;
        }
    }

    .nav-link {
        cursor: pointer;
        color: var(--bs-secondary-color)!important;
    } 

    .active {
        color: var(--love)!important;
    }

</style>

<div id='property-detail' class="d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="col-sm-8">
    
        <div 
        id="user-controls"
        class="sticky-top p-2" 
        style='z-index: 10; top: 48px; background-color: var(--bs-dark-bg-subtle); opacity: 0.8;'
        >
            <div class="d-flex justify-content-between">
                <button type="button" class="btn bg-transparent text-center border-0" onclick="window.history.back()">
                    <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg>
                    Back
                </button>
                {% if user.is_authenticated %}
                    <button 
                    id="save-button" 
                    class='btn bg-transparent border-2'
                    style="color: var(--love);"
                    hx-post="{% url 'toggle_saved' property_id=property.propertyId %}"
                    hx-vals='{"address": "{{ property.address.address }}", "image": "{{ image }}"}'
                    hx-swap="outerHTML"
                    >
                    {% if is_saved %}
                        {% include "icons/heart-fill.html" with size=16 %}
                        Saved
                    {% else %}
                        {% include "icons/heart.html" with size=16 %}
                        Save
                    {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
        
        {% comment %} image carousel {% endcomment %}
        <div>
            <div id="imgCarousel" class="carousel slide">
                {% comment %} <div class="carousel-indicators">
                    {% for image_url in property.image_array %}
                    <button type="button" data-bs-target="#imgCarouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>         {% endcomment %}
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ property.photo }}" class="d-block w-100" alt="">
                    </div>
                    {% comment %} {% for image_url in property.image_array %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <img src="{% static image_url %}" class="d-block w-100" alt="">
                    </div>
                    {% endfor %} {% endcomment %}
                </div>
                {% comment %} <button class="carousel-control-prev" type="button" data-bs-target="#imgCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imgCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button> {% endcomment %}
            </div>
        </div>

        {% comment %} property details {% endcomment %}
        <div class="container py-3" >

            <ul class="nav nav-tabs mb-3">
                <li class="nav-item" onclick="toggleTab('details')">
                  <a id="details-link" class="nav-link active" aria-current="page">Details</a>
                </li>
                <li class="nav-item" onclick="toggleTab('comments')">
                  <a id="comments-link" class="nav-link">Comments</a>
                </li>
                <li class="nav-item" onclick="toggleTab('contact')">
                  <a id="contact-link" class="nav-link">Contact</a>
                </li>
            </ul>

            <div id="details-tab">
                <div class="d-flex justify-content-between">
                    <h2 class="fw-bold mb-3">{{ property.price|currency:0 }}</h2>
                </div>  
                {% comment %} <a 
                class="btn love border-2 mb-3"
                href="tel:757-652-3262"
                >Get in Touch</a> {% endcomment %}
                <h5 class="mb-3">
                    <strong>{{ property.cap_rate|percentage }}</strong> Cap Rate |
                    <strong>{{ property.beds }}</strong> Beds |
                    <strong>{{ property.baths }}</strong> Baths |
                    <strong>{{ property.sq_ft }}</strong> square feet
                </h5>
                <h5 class="mb-3">{{ property.address }}</h5>
                
                <div id="description-container-trunc" class="pb-4" style="display:block;">
                    <h5 class="fw-bold">Description</h5>
                    <p id="property-description" class='fs-6'>{{ property.remarks|truncatechars:250 }}</p>  
                    <a style="cursor:pointer; color:var(--love);" onclick="toggleDescExpand()">Show More</a>
                </div>
                <div id="description-container-expand" class="pb-4" style="display:none;">
                    <h5 class="fw-bold">Description</h5>
                    <p id="property-description">{{ property.remarks }}</p>  
                    <a style="cursor:pointer; color:var(--love);" onclick="toggleDescExpand()">Show Less</a>
                </div>

                {% comment %} Map {% endcomment %}
                {% include "property/partials/detail-map.html" with property=property %}

            </div>

            <div id="comments-tab" style="display:none;">
                {% include "property/partials/comment-section.html" %}
            </div>

            <div id="contact-tab" style="display:none;">
                <p>Contact</p>
            </div>

        </div>

    </div>
</div>

<script>
    function toggleDescExpand() {
        const trunc = document.getElementById('description-container-trunc');
        const expand = document.getElementById('description-container-expand');
        if (trunc.style.display === 'block') {
            trunc.style.display = 'none';
            expand.style.display = 'block';
        } else {
            trunc.style.display = 'block';
            expand.style.display = 'none';
        }
    }

    function toggleTab(tab) {

        const activateTab = (el, link)=> {
            el.style.display = 'block';
            link.classList.add('active');
        }

        const deactiveTab = (el, link)=> {
            el.style.display = 'none';
            link.classList.remove('active');
        }

        const detailTab = document.getElementById('details-tab');
        const detailLink = document.getElementById('details-link');
        const commentsTab = document.getElementById('comments-tab');
        const commentsLink = document.getElementById('comments-link');
        const contactTab = document.getElementById('contact-tab');
        const contactLink = document.getElementById('contact-link');

        switch(tab) {
            case 'details':
                activateTab(detailTab, detailLink);
                deactiveTab(commentsTab, commentsLink);
                deactiveTab(contactTab, contactLink);
                break;
            case 'comments':
                activateTab(commentsTab, commentsLink);
                deactiveTab(detailTab, detailLink);
                deactiveTab(contactTab, contactLink);
                break;
            case 'contact':
                activateTab(contactTab, contactLink);
                deactiveTab(detailTab, detailLink);
                deactiveTab(commentsTab, commentsLink);
                break;
            default:
                break;
        }
    }

</script>

{% endblock content %}
