{% extends 'base.html' %}

{% load static %}
{% load currency %}
{% load percentage %}
{% load comma %}

{% block content %}

<div id='property-detail' class="d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="col-sm-6">
    
        <div 
        id="user-controls"
        class="position-sticky top-0" 
        style='z-index: 10; background-color:rgba(33, 37, 41,.8)'
        >
            <div class="d-flex justify-content-between p-2">
                <button class="btn btn-dark bg-transparent text-center border-0" onclick="window.history.back()">
                    <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg>
                Back
                </button>
                {% if user.is_authenticated %}
                {% if property.saved %}
                    {% include "property/partials/button-saved.html" %}
                {% else %}
                    {% include "property/partials/button-unsaved.html" %}
                {% endif %}
                {% endif %}
            </div>
        </div>
        
        {% comment %} image carousel {% endcomment %}
        <div>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>        
                <div class="carousel-inner">
                    {% for image_url in property.image_array %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <img src="{% static image_url %}" class="d-block w-100 h-100" alt="">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        {% comment %} property details {% endcomment %}
        <div class="container p-4 bg-dark-subtle">
            <h2 class="fw-bold mb-3">{{ property.price|currency:0 }}</h2>
            <h5 class="mb-3">
                <strong>{{ property.cap_rate|percentage }}</strong> Cap Rate 
                <strong>{{ property.bedrooms }}</strong> Beds 
                <strong>{{ property.bathrooms }}</strong> Baths 
                <strong>{{ property.area|comma }}</strong> square feet
            </h5>
            <h5 class="mb-3">{{ property.address }}</h5>
            <div id="description-container">
                <p id="property-description" class='fs-6'>{% lorem 40 w %}...</p>  
                <button 
                class="btn btn-dark"
                hx-get="{% url 'toggle_desc_visible' property_id=property.id action='show' %}"
                hx-target="#description-container"
                hx-swap="outerHTML"
                >See More</button>
            </div>
        </div>

        {% comment %} Map {% endcomment %}
        {% include "components/map.html" with coordinates=property.coordinates %}

    </div>
</div>

{% endblock content %}
