{% extends 'base.html' %}

{% load static %}
{% load currency %}
{% load percentage %}
{% load comma %}

{% block content %}

<style>
    .carousel-item img {
        height: 300px;
        object-fit: cover;
    }

    @media (min-width: 768px) {
        .carousel-item img {
            height: 500px;
        }
    }

</style>

<div id='property-detail' class="d-flex flex-column align-items-center justify-content-center position-relative">
    <div class="col-sm-6">
    
        <div 
        id="user-controls"
        class="sticky-top p-2" 
        style='z-index: 10; top: 48px; background-color: var(--bs-secondary-bg); opacity: 0.8;'
        >
            <div class="d-flex justify-content-between">
                <button class="btn bg-transparent text-center border-0" onclick="window.history.back()">
                    <svg style="vertical-align: middle;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                    </svg>
                    Back
                </button>
                {% if user.is_authenticated %}
                    <button 
                    id="save-button" 
                    class='btn bg-transparent border-2'
                    style="color: var(--love);"
                    hx-post="{% url 'toggle_saved' property_id=property.id %}"
                    hx-swap="outerHTML"
                    >
                    {% if is_saved %}
                        {% include "icons/heart-fill.html" with size=16 %}
                        Saved
                    {% else %}
                        {% include "icons/heart.html" with size=16 %}
                        Save
                    {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
        
        {% comment %} image carousel {% endcomment %}
        <div>
            <div id="imgCarousel" class="carousel slide">
                <div class="carousel-indicators">
                    {% for image_url in property.image_array %}
                    <button type="button" data-bs-target="#imgCarouselIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>        
                <div class="carousel-inner">
                    {% for image_url in property.image_array %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <img src="{% static image_url %}" class="d-block w-100" alt="">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#imgCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imgCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        {% comment %} property details {% endcomment %}
        <div class="container p-4" style="background-color: var(--bs-tertiary-bg);">
            <h2 class="fw-bold mb-3">{{ property.price|currency:0 }}</h2>
            <h5 class="mb-3">
                <strong>{{ property.cap_rate|percentage }}</strong> Cap Rate |
                <strong>{{ property.bedrooms }}</strong> Beds |
                <strong>{{ property.bathrooms }}</strong> Baths |
                <strong>{{ property.area|comma }}</strong> square feet
            </h5>
            <h5 class="mb-3">{{ property.address }}</h5>
            <a 
            class="btn love border-2 mb-3"
            href="tel:757-652-3262"
            >Get in Touch</a>
            <div id="description-container">
                <h5 class="fw-bold">Description</h5>
                <p id="property-description" class='fs-6'>{% lorem 40 w %}...</p>  
                <button 
                class="btn btn-outline-info border-2"
                hx-get="{% url 'toggle_desc_visible' property_id=property.id action='show' %}"
                hx-target="#description-container"
                hx-swap="outerHTML"
                >See More</button>
            </div>
        </div>

        {% comment %} Map {% endcomment %}
        {% include "components/detail-map.html" with coordinates=property.Coordinates %}
        
    </div>
</div>

{% endblock content %}
