<style>
    /***** Slide Right *****/
    .slide-right {
        animation: 3s slide-right;
    }
    @keyframes slide-right {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
    }
</style>


<div id="toast-container" class="toast-container position-relative" hx-swap-oob="afterbegin">
    <div 
    class="toast show mb-2 slide-right" 
    role="alert" 
    aria-live="assertive" 
    aria-atomic="true" 
    data-bs-autohide="true"
    
    >
        <div class="toast-header">
            <strong class="me-auto">{{ notification.header }}</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
            hx-trigger="click"
            hx-swap="delete"
            hx-target="closest .toast"
            ></button>
        </div>
        <div class="toast-body">
            {{ notification.message }}
            {% if link %}
            <div class="mt-2 pt-2 border-top text-right">
                <a style="color:var(--love);" href="{{ link.href }}">{{ link.alt }}</a>
            </div>     
            {% endif %}     
        </div>
    </div>
</div>

<ul id="notification-dropdown" hx-swap-oob="beforeend">
    <li><a class="dropdown-item">{{ notification.header }}</a></li>
</ul>

{% comment %} <button id="clear-toast-button" type="button" class="btn love rounded-pill py-1 px-2 cursor-pointer" style="font-size:.75rem; position: absolute; top:0; right:0; z-index:1001" hx-swap-oob="true">x Clear all</button> {% endcomment %}