{% extends 'base.html' %}

{% block content %}

<style>
  #search-buttons-sm {
    display: none!important;
  }
  
  #search-buttons-lg {
    display: flex!important;
  }

  @media (max-width: 1000px) {
    #search-buttons-sm {
      display: flex!important;
    }
    #search-buttons-lg {
      display: none!important;
    }
  }
</style>

<div class="px-4 py-4 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold">Fall in Love With Your Next Property.</h1>
      <div class="col-sm-6 col-lg-6 mx-auto flex-wrap">
        <p class="fs-5 mb-3 text-secondary w-100">Start Searching</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form class="d-flex w-100 justify-content-center" role="search" onsubmit="submitSearch()">
   
            <input 
            id="location-search" 
            name='location-search' 
            class="form-control mx-1" 
            style="border:3px solid var(--bs-secondary-color);"
            type="search" 
            placeholder="Enter an address, city, state, or zip." 
            aria-label="Search">

            <div id="search-buttons-lg" class="d-flex">
              <button 
              id="search-button-lg" 
              class="btn love-outline border-3 mx-1" 
              style="font-weight:bold;"
              >Search</button>
              <a 
              href="/explore/" 
              class="btn love-outline border-3" 
              style="font-weight:bold;"> 
                  {% include "icons/location.html" %}
              </a>
            </div>

          </form>    

        </div>

        <div id="search-buttons-sm" class="d-flex w-100 justify-content-between mt-2 p-1">
          <button id="search-button-sm" class="btn love-outline border-3 w-75" style="font-weight:bold;">Search</button>
          <a href="/explore/" class="w-25 ps-1"> 
            <button 
            id="locate-button"
            class="btn love-outline border-3 w-100" 
            style="font-weight:bold;" 
            >
              {% comment %} Use my location {% endcomment %}
              {% include "icons/location.html" %}
            </button>
          </a>
        </div>
          
        
      </div>
    </div>
</div>

{% include 'property/partials/scrolling-card-list.html' with property_list=property_list card_img_arr=card_img_arr %}

<script>

  function submitSearch(event) {
    event.preventDefault();
    const search = document.querySelector('input[name="location-search"]').value;
    if (search === '') {
      return;
    }
    window.location.replace(`/explore/search=${search}`)
  }

  const searchButtonLg = document.getElementById('search-button-lg');
  searchButtonLg.addEventListener("click", submitSearch, false);

  const searchButtonSm = document.getElementById('search-button-sm');
  searchButtonSm.addEventListener("click", submitSearch, false);

  function initialize() {
    new google.maps.places.Autocomplete(searchInput);
  }
  const searchInput = document.getElementById('location-search');
  searchInput.addEventListener('keypress', initialize);

</script>

{% endblock content %}