{% load crispy_forms_tags %}

<style>
    .modal-form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        font-size: .8rem!important;
    }

    .modal-form div {
        width: 48%;
    }

    .modal-footer button {
        width: 30%;
    }

</style>

<!-- Modal -->
<div class="modal fade" id="capRateModal" tabindex="-1" role="dialog" aria-labelledby="cap-rate-modal-title" style="overflow-y: scroll; max-height:95%; top:3rem;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-between">
          <h5 class="modal-title" id="cap-rate-modal-title">Capitalization Rate</h5>
          <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
            {% include "icons/x.html" with size=16 %}
          </button>
        </div>

        <div class="modal-body page-1">

            <div id="cap-rate-formula-table"></div>

            <div class="collapse" id="modalFormContainer">
                <p class='mb-2 fs-6'>Formula Default Values</p>

                <form id="update-formula-form" class="form-group modal-form">
                    {% csrf_token %}
                    <input id="value-hidden-input" type='hidden' name='propery_value' value='0'>
                    <input id="rent-hidden-input" type='hidden' name='rent' value='0'>
                    {{ form|crispy }}
                    {% if form_error %}
                        <p class='text-danger'>{{ form_error }}</p>
                    {% endif %}

                    <p class="text-muted mb-2" style="font-size:.8rem;">
                        By adjusting the default values, you are adjusting the cap rate formula for all properties on the site.
                        The default values can be reset here or in the settings menu of your profile page.
                    </p>

                    <div class="modal-footer justify-content-center w-100">
                        <button class='btn btn-sm love-outline' 
                        hx-post="{% url 'update_cap_rate_formula' profile_id=user.profile.id %}"
                        hx-swap="none"
                        hx-on::after-request="SubmitCapRateForm()"
                        >Save Values</button>
                        
                        <button 
                        class="btn btn-sm btn-outline-info" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#modalFormContainer" 
                        aria-expanded="false" 
                        aria-controls="modalFormContainer"
                        >Reset Values</button>
                        
                        <button 
                        class="btn btn-sm btn-secondary" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#modalFormContainer" 
                        aria-expanded="false" 
                        aria-controls="modalFormContainer"
                        >Cancel</button>
                    </div>
                </form> 
            </div>

        </div>

        <div class="modal-body page-2" style="display:none;">
            <p> 
                &ensp;The capitalization rate (also known as cap rate) is used in the world of commercial real estate to indicate the rate of return that is expected to be generated on a real estate investment property. 
                <br><br>&ensp;This measure is computed based on the net income that the property is expected to generate and is calculated by dividing net operating income by property asset value and is expressed as a percentage. 
                <br><br>&ensp;It is used to estimate the investor's potential return on their investment in the real estate market. The figure also helps to determine the exit rate or terminal capitalization rate for a property when it is sold at the end of the projected holding period.
            </p>
        </div>

        <div id="modal-page-controls" class="d-flex justify-content-center align-items-center mb-2">
            <button type="button" class="btn" onclick="toggleModalPage(1)">{% include "icons/arrow-left.html" with size=20 %}</button>
            <span id="currentModalPage" style="font-size:.8rem;">1 of 2</span>
            <button type="button" class="btn" onclick="toggleModalPage(2)">{% include "icons/arrow-right.html" with size=20 %}</button>
        </div>

      </div>
    </div>
</div>
  

<script>

    function toggleModalPage(page) {
        if (page == 1) {
            document.querySelector('.modal-body.page-1').style.display = 'block';
            document.querySelector('.modal-body.page-2').style.display = 'none';
            document.getElementById('currentModalPage').innerText = '1 of 2';
        } else {
            document.querySelector('.modal-body.page-1').style.display = 'none';
            document.querySelector('.modal-body.page-2').style.display = 'block';
            document.getElementById('currentModalPage').innerText = '2 of 2';
        }
    }

    function SubmitCapRateForm() {
        htmx.ajax('POST', '/profile/update-cap-rate-formula/', { swap: 'none', form: 'update-formula-form' })
        alert('updating cap rates!')
    }

</script>