
<div id="map" style="width: 100%; height:400px;"></div>

{{ coordinates|json_script:"coordinates" }}

<script>
    // Get the map data from the django context
    var map = L.map('map').fitWorld();
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    let coordinates = JSON.parse(document.getElementById('coordinates').textContent);
    if (coordinates) { // if coordinates are provided, set the map view to the coordinates
        map.setView(coordinates, 16);
        var marker = L.marker(coordinates).addTo(map);
    } 

</script>