<style>
  hr {
    border-top: 1px solid lightgray!important;
    border-radius: 5px;
    opacity: .8!important;
  }

  footer {
    background: var(--bs-body-bg);
  }

  footer .nav-link {
    color: var(--bs-body-color)!important;
  }
</style>

<footer id="footer" class="py-5 position-absolute w-100 shadow" >
  <hr class="w-75 mx-auto mb-5"></hr>
  <ul class="nav justify-content-center pb-3 mb-3">
    <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
  </ul>
  <hr class="w-75 mx-auto mt-5"></hr>
  <p class="text-center">© 2024 Company, Inc</p>
</footer>
