<div id="map" style="width: 100%; height:{% if not map_height %}400px;{% else %}{{map_height}};{% endif %}"></div>

{{ map_data|json_script:"map_data" }}

<script>
    // Get the map data from the django context
    const map_data = JSON.parse(document.getElementById('map_data').textContent);
    const coordinates = map_data.coordinates;
    const boundry = map_data.boundry;
    const zoom = map_data.zoom;

    // Initialize Map Global View 
    var map = L.map('map').fitWorld();
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    function onLocationFound(e) {
        var radius = e.accuracy;
        L.marker(e.latlng).addTo(map)
            // .bindPopup("You are within " + radius + " meters from this point").openPopup();
        L.circle(e.latlng, radius).addTo(map);
    }
    map.on('locationfound', onLocationFound);

    function onLocationError(e) {
        const defaultBoundry = {
            city: "Pensacola",
            state: "Fl",
            zip: "",
            county: ""
        }
        drawCountyBoundary(defaultBoundry);
        const defaultCoordinates = [30.455170859580093, -87.19574372032461];
        map.setView(defaultCoordinates, zoom);
        // var marker = L.marker(defaultCoordinates).addTo(map);
    }
    // if coordinates or user location not provided and boundry  not provided, set the map view to the default location
    map.on('locationerror', onLocationError);     

    // get coordinates from django context
    if (coordinates) { // if coordinates are provided, set the map view to the coordinates
        map.setView(coordinates, zoom);
        var marker = L.marker(coordinates).addTo(map);
    } else { // if no coordinates are provided, set the map view to the user's location
        map.locate({setView: true, maxZoom: zoom});
    }

    if (boundry) {
        L.geoJSON(boundry).addTo(map);
    } 

</script>