<nav id="navbar" class="navbar navbar-dark navbar-expand-lg bg-dark-subtle px-sm-5">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">icon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0" style="margin-left:auto;">
                <li class="nav-item">
                <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light" href="/explore/">Explore</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/accounts/login/">Log in</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>    
                    <ul class="dropdown-menu bg-dark" >
                        <li><a class="dropdown-item text-light" href="property/saved-properties/">Saved Properties</a></li>
                        <li><a class="dropdown-item text-light" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider bg-light"></li>
                        <li><a class="dropdown-item text-light" href="/accounts/logout/">Log Out</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            
        {% comment %} <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> {% endcomment %}
        </div>
    </div>
</nav>