<style>
    {% if request.get_full_path == '/' %}
        .navbar {
            position: absolute;
            display: flex!important;
            flex-direction: row!important;
            z-index: 9998;
            max-height: 3.2rem;
        }
    {% else %}
        .navbar {
            position: fixed;
            display: flex!important;
            flex-direction: row!important;
            background-color: var(--bs-body-bg);
            z-index: 9998;
            box-shadow: 0 0 10px var(--bs-dark-bg-subtle);
            max-height: 3.2rem;
        }
    {% endif %}

    .navbar-nav {
        align-items: center!important;
    }

    #brand {
        font-weight: bold;
        color: {% if request.get_full_path == '/' %} white {% else %} var(--bs-body-color) {% endif %}!important;
    }

    .nav-link {
        padding: .5rem!important;
        color: {% if request.get_full_path == '/' %} white {% else %} var(--bs-body-color) {% endif %};
    }

    .nav-link:hover {
        color: {% if request.get_full_path == '/' %} white {% else %} var(--bs-secondary-color) {% endif %};
        {% comment %} text-shadow: 0 0 10px var(--love); {% endcomment %}
    }

    .profile-badge {
        width:2rem; 
        height:2rem; 
        border-radius:100%; 
        box-shadow: 0 0 10px var(--bs-dark-bg-subtle);
    }

    .profile-badge:hover {
        box-shadow: 0 0 10px var(--love);
    }

    #notification-dropdown-tg::after {
        content: none;
    }
    #profile-dropdown-tg::after {
        content: none;
    }

    #notification-icon {
        fill: {% if request.get_full_path == '/' %} white {% else %} var(--bs-secondary-color) {% endif %};
    }

    #notification-icon:hover {
        fill: gray;
        filter: drop-shadow(0 0 10px var(--love));
    }

    @media (max-width: 576px) {
        .navbar-nav {
            align-items: flex-start!important;
        }
        .navbar-collapse {
            padding-top: 10px!important;
        }
        .navbar-collapse .nav-item {
            margin: 0!important;
            width: 100%!important;
        }
        #brand {
            font-weight: bold;
            color: var(--bs-body-color)!important;
        }
        #navbarSupportedContent {
            background-color: var(--bs-secondary-bg);
            color: var(--bs-body-color)!important;
            border-radius: 15px;
        }
        .nav-link {
            padding: .5rem!important;
            color: var(--bs-body-color)!important;
        }
        #notification-icon {
            fill: var(--bs-secondary-color)!important;
        }

        #notification-dropdown-tg {
            width: fit-content;
        }
    }
</style>

{% load static %}
{% load is_agent %}

<nav 
id="navbar" 
class="navbar navbar-expand-lg w-100 py-1" 
>
    <div class="container-fluid m-0">

        <button id="navbar-toggler" class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

            <a id='brand' class="navbar-brand px-2" href="/">NHB</a>

            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if request.get_full_path != '/' %}
                    <li class="nav-item me-2">
                        <a class="nav-link {% if request.get_full_path == '/' %}active{% endif %}" aria-current="page" href="/">
                            Home
                        </a>
                    </li> 
                {% endif %}
                <li class="nav-item me-2">
                    <a class="nav-link {% if '/explore/' in request.get_full_path %}active{% endif %}" href="/explore/">
                        Explore
                    </a>
                </li>

                {% if not request.user|is_agent %}
                <li class="nav-item me-2 dropdown">
                    <a class="nav-link dropdown-toggle {% if '/agent/' in request.get_full_path %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Agents
                    </a>    
                    <ul id='agent-dropdown' class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Find an Agent</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/agent/become-an-agent/">Become an Agent</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item me-2">
                    <a class="nav-link {% if '/agent/' in request.get_full_path %}active{% endif %}" href="/agent/dashboard/">
                        Dashboard
                    </a>
                </li>
                {% endif %}

                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/account/register/">Login / Signup</a>
                    </li>
                    {% else %}

                    <li class="nav-item dropdown h-100 align-items-start me-2 " >
                        <a 
                        id="notification-dropdown-tg" 
                        class="nav-link dropdown-toggle d-flex align-items-center position-relative"
                        href="#" 
                        role="button" 
                        data-bs-toggle="offcanvas" data-bs-target="#notificationsDrawer" aria-controls="notificationsDrawer"
                        onclick="clearNotificationSpan()"
                        >
                            <svg id="notification-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-bell-fill" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901"/>
                            </svg>
                            {% if  user.profile.unread_notification_count > 0 %} 
                            <span id="notification-number" class="badge rounded-pill position-absolute" style="top:0; right:0px; background-color: var(--love); color:white;">
                                    {{ user.profile.unread_notification_count }}
                            </span>
                            {% else %}
                            <span id="notification-number" class="badge rounded-pill position-absolute" style="top:0; right:0px; background-color: var(--love); color:white;"></span>
                            {% endif %} 
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a id="profile-dropdown-tg" class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            <div id="profile-badge-container">
                            {% if not user.profile.profile_picture %}
                                {% include "icons/profile-icon.html" %}
                            {% else %}
                                <img src="{{ user.profile.profile_picture.url }}" class="profile-badge me-1" alt="profile picture">
                            {% endif %}
                            </div>
                            
                            {% comment %} Profile {% endcomment %}
                        </a>    
                        <ul id='profile-dropdown' class="dropdown-menu" style="right:0; left:auto;">
                            <li><a class="dropdown-item" href="{% url 'profile' username=user.username %}">My Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'saved_property_list' %}">Saved Properties</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="offcanvas" data-bs-target="#settingsDrawer" aria-controls="settingsDrawer" onclick="collapseNav()">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/account/logout/">Log Out</a></li>
                        </ul>
                    </li>
                {% endif %}
                
            </ul>
            
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>

<script data-theme="{{request.user.profile.theme}}" async>

    function PlayNotificationSound() {
        var snd = new Audio('/static/sounds/bottle.mp3'); // buffers automatically when created
        snd.loop = false;
        snd.play();
    }

    document.body.addEventListener('htmx:wsAfterMessage', (event) => {
        let numberSpan = document.getElementById('notification-number');
        let notificationCount = numberSpan.innerHTML;
        if (!notificationCount) {
            notificationCount = 0;
        }
        numberSpan.innerHTML = parseInt(notificationCount) + 1;
        PlayNotificationSound();
    });

    function clearNotificationSpan() {
        let numberSpan = document.getElementById('notification-number');
        numberSpan.innerHTML = '';
        htmx.ajax('GET', '/notifications/clear-unread/', { swap: 'none' })
    }

    function collapseNav() {
        const navToggler = document.getElementById('navbar-toggler');
        navToggler.ariaExpanded = false;
        navToggler.classList.add('collapsed');
        document.getElementById('navbarSupportedContent').classList.remove('show');
    }

</script> 