<style>
    .applied-filter-button {
        display: flex;
        flex-wrap: nowrap;
        width: fit-content;
    }
</style>

<div id="applied-filter-container" class="d-flex w-100 ms-2">
    {% for filter, obj in filters.items %}
        {% if obj.value != 0 %}
            <div class='btn btn-sm btn-secondary me-1 align-items-center applied-filter-button' data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom">
                <p class="m-0" style="white-space: nowrap;">{{ obj.name }} {{ obj.value }}</p>
                {% comment %} <button class='p-0 m-0 ms-1 btn'>&times;</button> {% endcomment %}
            </div>
        {% endif %}
    {% endfor %}
</div>