{% load as_json %}

<div id="explore-controls" class="d-flex justify-content-center py-3 ">
    <button 
    id="back-button" 
    class="btn mx-4 border-0"
    onclick="handlePrevCard()"
    style="color: var(--bs-secondary-color);"
    >
        {% include "icons/arrow-left.html" with size=35 %}
    </button>

    <button 
    id="hide-button" 
    class="btn mx-2 border-0"
    onclick="handleHideCard()"
    >
        {% include "icons/x.html" with size=35 fill="var(--hidden)" %}
    </button>
    

    {% include "explore/partials/explore-save-button.html" %}

    <button 
    id="next-button" 
    class="btn mx-4 border-0"
    onclick="handleNextCard()"
    style="color: var(--bs-secondary-color);"
    >
        {% include "icons/arrow-right.html" with size=35 %}
    </button>
</div>

<div id="json-data-{{property.propertyId}}" class="d-none" data-property="{{property|as_json}}"></div>