{% load decimal %}

<style>
    .offcanvas-bottom  {
        height:75%!important;
    }

    #explore-filter p {
        font-weight: bold;
        margin:0;
    }   

    #explore-filter label {
        font-weight: bold;
    }
    
    #explore-filter input, select {
        width: 100%;
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .invalid-input {
        border: 2px solid var(--bs-danger);
    }
</style>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header justify-content-center" style="background-color: var(--bs-secondary-bg); flex-direction: column!important;">
        
        <div class="d-flex col-12 col-sm-6 justify-content-between align-items-center">
            <p class="offcanvas-title" id="offcanvasBottomLabel">Filter Properties</p>

            <div class="d-flex w-50 justify-content-evenly">
                <a
                href="/explore/search={{ search_str }}/" 
                class="btn btn-sm btn-outline-info border-2" 
                >Clear Filters</a>

                <button 
                class="btn btn-sm love-outline border-2"
                onclick="applyFilters()"
                >Apply</button>
            </div>
            
            <button type="button" class="btn-close text-reset mx-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

    </div>

    <div class="offcanvas-body small">
        <form id="explore-filter-form" class="container col-sm-6 mx-auto">

            <div id="cap-rate-filter-container" class="d-flex justify-content-between my-4 align-items-center">
                <label for="cap-rate" style="white-space:nowrap; display: flex;">
                    Cap Rate&ensp;
                    <p id="cap-rate-value" class="m-0" style="font-weight:bold;">{{ filters.cap_rate.value|decimal }}% +</p>
                </label>
                
                <input type="range" min="0" max="0.2" value="{{filters.cap_rate.value}}" step="0.01" class="slider" id="cap-rate-input" name="cap-rate" style="width: 65%;"
                oninput="updateSliderValue()"
                >
            </div>
    
            <div id="price-filter-container" class="d-flex justify-content-between align-items-center my-4">
                <div style="text-align: left; width:45%;">
                    <label class="mb-2" for="min-price">Min Price</label>
                    <select id="min-price" name="min-price" onchange="RemoveInvalidInput()">
                        <option value="0">No Min</option>
                        <option value="50000">$50,000</option>
                        <option value="100000">$100,000</option>
                        <option value="150000">$150,000</option>
                        <option value="200000">$200,000</option>
                        <option value="250000">$250,000</option>
                        <option value="300000">$300,000</option>
                        <option value="350000">$350,000</option>
                        <option value="400000">$400,000</option>
                        <option value="450000">$450,000</option>
                        <option value="500000">$500,000</option>
                        <option value="550000">$550,000</option>
                        <option value="600000">$600,000</option>
                        <option value="650000">$650,000</option>
                        <option value="700000">$700,000</option>
                        <option value="750000">$750,000</option>
                        <option value="800000">$800,000</option>
                        <option value="850000">$850,000</option>
                        <option value="900000">$900,000</option>
                        <option value="950000">$950,000</option>
                        <option value="1000000">$1M</option>
                        <option value="1500000">$1.5M</option>
                        <option value="2000000">$2M</option>
                        <option value="2500000">$2.5M</option>
                        <option value="3000000">$3M</option>
                        <option value="3500000">$3.5M</option>
                        <option value="4000000">$4M</option>
                        <option value="4500000">$4.5M</option>
                        <option value="5000000">$5M</option>
                        <option value="5500000">$5.5M</option>
                        <option value="6000000">$6M</option>
                        <option value="6500000">$6.5M</option>
                        <option value="7000000">$7M</option>
                        <option value="7500000">$7.5M</option>
                        <option value="8000000">$8M</option>
                        <option value="8500000">$8.5M</option>
                        <option value="9000000">$9M</option>
                        <option value="9500000">$9.5M</option>
                        <option value="10000000">$10M</option>
                        <option value="15000000">$15M</option>
                        <option value="16000000">$16M</option>
                        <option value="17000000">$17M</option>
                        <option value="18000000">$18M</option>
                    </select>
                </div>
                <p style="margin: 20px 10px 0 10px;"> - </p>
                <div style="text-align: left; width:45%;">
                    <label class="mb-2" for="max-price">Max Price</label>
                    <select id="max-price" name="max-price">
                        <option value="0">No Max</option>
                        <option value="50000">$50,000</option>
                        <option value="100000">$100,000</option>
                        <option value="150000">$150,000</option>
                        <option value="200000">$200,000</option>
                        <option value="250000">$250,000</option>
                        <option value="300000">$300,000</option>
                        <option value="350000">$350,000</option>
                        <option value="400000">$400,000</option>
                        <option value="450000">$450,000</option>
                        <option value="500000">$500,000</option>
                        <option value="550000">$550,000</option>
                        <option value="600000">$600,000</option>
                        <option value="650000">$650,000</option>
                        <option value="700000">$700,000</option>
                        <option value="750000">$750,000</option>
                        <option value="800000">$800,000</option>
                        <option value="850000">$850,000</option>
                        <option value="900000">$900,000</option>
                        <option value="950000">$950,000</option>
                        <option value="1000000">$1M</option>
                        <option value="1500000">$1.5M</option>
                        <option value="2000000">$2M</option>
                        <option value="2500000">$2.5M</option>
                        <option value="3000000">$3M</option>
                        <option value="3500000">$3.5M</option>
                        <option value="4000000">$4M</option>
                        <option value="4500000">$4.5M</option>
                        <option value="5000000">$5M</option>
                        <option value="5500000">$5.5M</option>
                        <option value="6000000">$6M</option>
                        <option value="6500000">$6.5M</option>
                        <option value="7000000">$7M</option>
                        <option value="7500000">$7.5M</option>
                        <option value="8000000">$8M</option>
                        <option value="8500000">$8.5M</option>
                        <option value="9000000">$9M</option>
                        <option value="9500000">$9.5M</option>
                        <option value="10000000">$10M</option>
                        <option value="15000000">$15M</option>
                        <option value="16000000">$16M</option>
                        <option value="17000000">$17M</option>
                        <option value="18000000">$18M</option>
                    </select>
                </div>
            </div>
    
            <div id="br-filter-container" class="d-flex justify-content-start my-4"> 
                <div style="display:flex; flex-direction: column;">
                    <label for="bedrooms" class="mb-2">Bedrooms</label>
                    <select id="bedrooms" name="bedrooms">
                        <option value="0">Any</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                        <option value="5">5+</option>
                    </select>
                </div>
            </div>
    
            <div id="bath-filter-container" class="d-flex justify-content-start my-4"> 
                <div style="display:flex; flex-direction: column;">
                    <label for="bathrooms" class="mb-2">Bathrooms</label> 
                    <select id="bathrooms" name="bathrooms">
                        <option value="0">Any</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                    </select>
                </div>
            </div>
    
            <div id="sqfeet-filter-container" class="d-flex justify-content-evenly my-4" style="flex-direction: column;">
                <p class="mb-2">Square Feet</p>
                <div class="d-flex w-100">
                    <select id="min-sq-feet" name="min-sq-feet">
                        <option value="0">No Min</option>
                        <option value="500">500</option>
                        <option value="750">750</option>
                        <option value="1000">1000</option>
                        <option value="1250">1250</option>
                        <option value="1500">1500</option>
                        <option value="1750">1750</option>
                        <option value="2000">2000</option>
                        <option value="2250">2250</option>
                        <option value="2500">2500</option>
                        <option value="2750">2750</option>
                        <option value="3000">3000</option>
                        <option value="3250">3250</option>
                        <option value="3500">3500</option>
                        <option value="3750">3750</option>
                        <option value="4000">4000</option>
                        <option value="4250">4250</option>
                        <option value="4500">4500</option>
                        <option value="4750">4750</option>
                        <option value="5000">5000</option>
                        <option value="5250">5250</option>
                        <option value="5500">5500</option>
                        <option value="5750">5750</option>
                        <option value="6000">6000</option>
                        <option value="6250">6250</option>
                        <option value="6500">6500</option>
                        <option value="6750">6750</option>
                        <option value="7000">7000</option>
                        <option value="7250">7250</option>
                        <option value="7500">7500</option>
                    </select>
                    <p style="margin: 0 10px;"> - </p>
                    <select id="max-sq-feet" name="max-sq-feet">
                        <option value="0">No Max</option>
                        <option value="500">500</option>
                        <option value="750">750</option>
                        <option value="1000">1000</option>
                        <option value="1250">1250</option>
                        <option value="1500">1500</option>
                        <option value="1750">1750</option>
                        <option value="2000">2000</option>
                        <option value="2250">2250</option>
                        <option value="2500">2500</option>
                        <option value="2750">2750</option>
                        <option value="3000">3000</option>
                        <option value="3250">3250</option>
                        <option value="3500">3500</option>
                        <option value="3750">3750</option>
                        <option value="4000">4000</option>
                        <option value="4250">4250</option>
                        <option value="4500">4500</option>
                        <option value="4750">4750</option>
                        <option value="5000">5000</option>
                        <option value="5250">5250</option>
                        <option value="5500">5500</option>
                        <option value="5750">5750</option>
                        <option value="6000">6000</option>
                        <option value="6250">6250</option>
                        <option value="6500">6500</option>
                        <option value="6750">6750</option>
                        <option value="7000">7000</option>
                        <option value="7250">7250</option>
                        <option value="7500">7500</option>
                    </select>
                </div>
            </div>
    
            <div id="lot-size-filter-container" class="d-flex justify-content-evenly my-4" style="flex-direction: column;">
                <p class="mb-2">Lot Size</p>
                <div class="d-flex w-100">
                    <select id="lotSize-min" name="lotSize-min" aria-label="Lot size min">
                        <option value="0">No Min</option>
                        <option value="1000">1,000 sqft</option>
                        <option value="2000">2,000 sqft</option>
                        <option value="3000">3,000 sqft</option>
                        <option value="4000">4,000 sqft</option>
                        <option value="5000">5,000 sqft</option>
                        <option value="7500">7,500 sqft</option>
                        <option value="10890">1/4 acre/10,890 sqft</option>
                        <option value="21780">1/2 acre</option>
                        <option value="43560">1 acre</option>
                        <option value="87120">2 acres</option>
                        <option value="217800">5 acres</option>
                        <option value="435600">10 acres</option>
                        <option value="871200">20 acres</option>
                        <option value="2178000">50 acres</option>
                        <option value="4356000">100 acres</option>
                    </select>
                    <p style="margin: 0 10px;"> - </p>
                    <select id="lotSize-max" name="lotSize-max" aria-label="Lot size max">
                        <option value="0">No Max</option>
                        <option value="1000">1,000 sqft</option>
                        <option value="2000">2,000 sqft</option>
                        <option value="3000">3,000 sqft</option>
                        <option value="4000">4,000 sqft</option>
                        <option value="5000">5,000 sqft</option>
                        <option value="7500">7,500 sqft</option>
                        <option value="10890">1/4 acre/10,890 sqft</option>
                        <option value="21780">1/2 acre</option>
                        <option value="43560">1 acre</option>
                        <option value="87120">2 acres</option>
                        <option value="217800">5 acres</option>
                        <option value="435600">10 acres</option>
                        <option value="871200">20 acres</option>
                        <option value="2178000">50 acres</option>
                        <option value="4356000">100 acres</option>
                    </select>
                </div>
            </div>
    
            <div id="year-built-filter-container" class="d-flex justify-content-evenly my-4" style="flex-direction: column;">
                <p class="mb-2">Year Built</p>
                <div class="d-flex w-100">
                    <select placeholder="No Min"></select>
                    <p style="margin: 0 10px;"> - </p>
                    <select placeholder="No Max"></select>
                </div>
            </div>
    
        </form>
    </div>
</div>

<!-- {{ property_list|json_script:"property_list" }} -->
{{ filters|json_script:"filters" }}

<script>
    function RemoveInvalidInput(e) {
        e.target.classList.remove('invalid-input');
    }
    var min_price_input = document.getElementById('min-price');
    min_price_input.addEventListener('change', RemoveInvalidInput);
    var min_sq_feet_input = document.getElementById('min-sq-feet');
    min_sq_feet_input.addEventListener('change', RemoveInvalidInput);
    var min_lot_input = document.getElementById('lotSize-min');
    min_lot_input.addEventListener('change', RemoveInvalidInput);
    
    function updateSliderValue() {
        const slider = document.getElementById("cap-rate-input");
        const output = document.getElementById("cap-rate-value");
        output.innerHTML = parseFloat(slider.value * 100).toFixed(0) + "% +";
    }

    function setFormInitial() {
        const filters = JSON.parse(document.getElementById("filters").textContent);
        document.getElementById('min-price').value=filters['min_price']['value'];
        document.getElementById('max-price').value=filters['max_price']['value'];
        document.getElementById('bedrooms').value=filters['beds']['value'];
        document.getElementById('bathrooms').value=filters['baths']['value'];
        document.getElementById('min-sq-feet').value=filters['min_sq_ft']['value'];
        document.getElementById('max-sq-feet').value=filters['max_sq_ft']['value'];
        document.getElementById('lotSize-min').value=filters['min_lot']['value'];
        document.getElementById('lotSize-max').value=filters['max_lot']['value'];
        // document.getElementById('year-built-min').value=filters['year_built_min']['value'];
        // document.getElementById('year-built-max').value=filters['year_built_max']['value'];
    }
    setFormInitial();

    function validateForm() {
        const min_price_input = document.getElementById('min-price');
        const min_price = min_price_input.value;
        let max_price = document.getElementById('max-price').value;
        if (max_price === '0') {
            max_price = 999999999;
        }
        if (parseInt(min_price) > parseInt(max_price)) {
            min_price_input.classList.toggle('invalid-input');
            alert('Min price must be less than max price');
            return false;
        }
        const min_sq_feet_input = document.getElementById('min-sq-feet')
        const min_sq_feet = min_sq_feet_input.value;
        let max_sq_feet = document.getElementById('max-sq-feet').value;
        if (max_sq_feet === '0') {
            max_sq_feet = 999999999;
        }
        if (parseInt(min_sq_feet) > parseInt(max_sq_feet)) {
            min_sq_feet_input.classList.toggle('invalid-input');
            alert('Min sq feet must be less than max sq feet');
            return false;
        }
        const min_lot_input = document.getElementById('lotSize-min');
        const min_lot = min_lot_input.value;
        let max_lot = document.getElementById('lotSize-max').value;
        if (max_lot === '0') {
            max_lot = 999999999;
        }
        if (parseInt(min_lot) > parseInt(max_lot)) {
            min_lot_input.classList.toggle('invalid-input');
            alert('Min lot size must be less than max lot size');
            return false;
        }
        return true;
    }

    function applyFilters () {
        if (!validateForm()) {
            return;
        }
        let filter_url ='/explore/filter/search={{ search_str }}';
        const form = document.getElementById("explore-filter-form");
        const formData = new FormData(form);
        // const values = {};
        for (const [key, value] of formData.entries()) {
            // values[key] = value;
            if (value !== 0) {
                filter_url += `&${key}=${value}`;
            }
        }
        window.location.replace(filter_url+'/');
    }

</script>