<div id="explore-controls" class="d-flex justify-content-center py-3 position-absolute bottom-0">
    <button 
    id="back-button" 
    class="btn mx-4 border-0"
    onclick="handlePrevCard()"
    style="color: var(--bs-secondary-color);"
    >
        {% include "icons/arrow-left.html" with size=35 %}
    </button>

    <button 
    id="hide-button" 
    class="btn mx-2 border-0"
    onclick="handleHideCard()"
    >
        {% include "icons/x.html" with size=35 fill="var(--hidden)" %}
    </button>
    

    {% if request.user.is_authenticated %}
        <button 
        id="save-button" 
        class="btn mx-2 border-0"
        onclick="handleSaveCard()"
        >
        {% if is_saved %}
            {% include "icons/heart-fill.html" with size=35 fill="var(--love)" %}
        {% else %}
            {% include "icons/heart.html" with size=35 fill="var(--love)" %}
        {% endif %}
        </button>
    {% else %}
        <button 
        id="save-button" 
        class="btn mx-2 border-0"
        data-bs-toggle="modal" data-bs-target="#registerModal"
        > {% include "icons/heart.html" with size=35 fill="var(--love)" %}
        </button>
    {% endif %}

    <button 
    id="next-button" 
    class="btn mx-4 border-0"
    onclick="handleNextCard()"
    style="color: var(--bs-secondary-color);"
    >
        {% include "icons/arrow-right.html" with size=35 %}
    </button>
</div>
