<style>
	.map-marker {
		position: relative;
		background-color: var(--love);
		color: white;
		width: fit-content;
		align-items: center;
		padding: 10px;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		border-radius: 15px;
		top: -1.6rem;
		box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.4);
        display: none;
	}

    .map-marker[data-visible="true"] {
        display: flex;
    }

	.markerDiv {
		background-color: transparent;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid var(--love);
		justify-content: center;
        display:none;
        /* box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); */
	}

    .markerDiv[data-visible="true"] {
        display: flex;
    }

    .map-card {
        position: absolute;
        top: -235px;
        left: -70px; 
        /* display: none!important;  */
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 200px;
        border-radius: 20px; 
        background-color:var(--bs-body-bg); 
        color:var(--bs-body-color); 
        z-index: 1000;
    }

    .leaflet-zoom-animated g[data-visible="false"] {
        display: none;
    }

    .leaflet-popup-content-wrapper, .leaflet-popup-tip {
        background: var(--love);
        color: white;
        font-size: 10px;
        line-height: 1.5;
        border-radius: 15px;
        /* box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4); */
    }
    
    #map {
        height: 70%!important;
    }
    @media (min-width:1000px) {
        #map {
            height: 100%!important;
        }
    }
    
</style>

<div id="map" class="w-100 h-100 mt-2"></div>

{{ map_data|json_script:"map_data" }}
{{ property_list|json_script:"property_list" }}

<script data-loc-cookie="{{ request.COOKIES.coordinates }}">
    // Get the map data from the django context
    let coordinates = null;
    let boundry = null;
    let zoom = 16;
    const map_data = JSON.parse(document.getElementById('map_data').textContent);
    if (map_data) {
        coordinates = map_data.coordinates;
        boundry = map_data.boundry;
        zoom = map_data.zoom;
    }

    // Initialize Map Global View 
    var map = L.map('map').fitWorld();
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    function onLocationFound(e) {
        var radius = e.accuracy;
        L.marker(e.latlng).addTo(map)
        L.circle(e.latlng, radius).addTo(map);
        console.log(e.latlng)
        htmx.ajax('GET', '/accounts/locate/', {values: e.latlng, swap:'none'})
        window.location.replace(`/explore/reverse/lng=${e.latlng.lng}lat=${e.latlng.lat}/`)
    }
    map.on('locationfound', onLocationFound);

    function onLocationError(e) {
      // no location provided, redirect to default location
      window.location.href = '/explore/search%3DPensacola, FL, USA/';
    }
    // if coordinates or user location not provided and boundry  not provided, set the map view to the default location
    map.on('locationerror', onLocationError);     

    // get coordinates from django context
    if (coordinates) { // if coordinates are provided, set the map view to the coordinates
        map.setView(coordinates, zoom);
        // var marker = L.marker(coordinates).addTo(map);
    } else { // if no coordinates are provided, set the map view to the user's location
        var cookieCoordinates = document.currentScript.getAttribute('data-loc-cookie')
        if (cookieCoordinates !== '') {
            var parsedCookie = JSON.parse(cookieCoordinates);
            console.log(parsedCookie)
            // window.location.replace(`/explore/reverse/lng=${parsedCookie.lng}lat=${parsedCookie.lat}/`)
            // map.setView(parsedCookie, zoom);
            // L.marker(parsedCookie).addTo(map)
        } else {
            map.locate({setView: true, maxZoom: zoom});
        }
    }

    if (boundry) {
        L.geoJSON(boundry).addTo(map);
    } 

    // Get the property list from the django context
    const propertyList = JSON.parse(document.getElementById('property_list').textContent);
    propertyList.forEach(function (property) {
        let priceFormatted = property.price.value.toLocaleString('en-US', { style: 'currency', currency: 'USD', maximumFractionDigits: 0 })
        L.marker([property.latLong.value.latitude, property.latLong.value.longitude], 
            {
                icon: L.divIcon({
                    className: 'markerDiv', 
                    html: `<span class="map-marker" >
                            ${priceFormatted}
                                <a 
                            id="map-card-${property.propertyId}" 
                            class="map-card"
                            style="display:none;"
                            href="/property/detail/${property.address.replace('/','|')}"
                            >
                                <div class="card p-0">
                                    <img 
                                    src="/static/media/awesome-house.jpg" 
                                    class="img-fluid card-img-top" 
                                    alt="..." 
                                    >
                                    <div class="card-body text-wrap"
                                        <h5><strong>${priceFormatted}</strong></h5>
                                        <p class="mb-1">${property.beds ?? 0} Beds | ${property.baths ?? 0} Baths | ${property.sqFt.value ?? 0} sqft.</p>
                                        <p class="text-muted mb-0">${property.address}</p>
                                    </div>
                                </div>
                            </a>
                        </span>`
                })
		    }
        )
        .on('click', function (e) {
            DisplayMapCard(property.propertyId)
        })
        .addTo(map)

        L.circleMarker([property.latLong.value.latitude, property.latLong.value.longitude],
            {
                color: 'white',
                fillColor: 'var(--love)',
                fillOpacity: 1
            }
        )
        .setRadius(8)
        .addTo(map)
    });


    function displayCustomMarkerDiv() {
        document.querySelectorAll('.markerDiv').forEach(function (marker) {
            marker.setAttribute('data-visible', 'true')
        })
        document.querySelectorAll('.map-marker').forEach(function (marker) {
            marker.setAttribute('data-visible', 'true')
        })
        document.querySelectorAll('.leaflet-zoom-animated g').forEach(function (marker) {
            marker.setAttribute('data-visible', 'false')
        })
    }

    function hideCustomMarkerDiv() {
        document.querySelectorAll('.markerDiv').forEach(function (marker) {
            marker.setAttribute('data-visible', 'false')
        })
        document.querySelectorAll('.map-marker').forEach(function (marker) {
            marker.setAttribute('data-visible', 'false')
        })
        document.querySelectorAll('.leaflet-zoom-animated g').forEach(function (marker) {
            marker.setAttribute('data-visible', 'true')
        })
    }

    map.on('zoomend', function (e) {
        if (e.target._zoom >= 13) {
            displayCustomMarkerDiv()
        } else {
            hideCustomMarkerDiv()
        }
    });

    function DisplayMapCard(propertyId) {
        const mapCard = document.getElementById(`map-card-${propertyId}`);
        mapCard.style.display = 'flex';
        
    }

</script>