<div 
id='map-container' 
class="col-12 col-lg-8 p-1 h-100" 
style="background-color: var(--bs-body-bg);" 
data-visible="false"
hx-swap-oob="true" 
>
    <div id="map-header" class="d-flex align-items-center justify-content-between px-3 pt-1 pb-2">
        <h3 class="mb-0">Map</h3>
        <button 
        id="map-button" 
        class="btn border-0 p-0 m-0" 
        onclick="toggleMapView()"
        >
            {% include "icons/arrows.html" %}
        </button>
    </div>
    
    {% include "explore/partials/explore-map.html" %}

</div>

